---
# Credentials for Red Hat Subscription Manager (password is base64 encoded)
rhsm_username: username@redhat.com
rhsm_password: cGFzc3dvcmQ=

# System identities
rhsm_identities:
  test-rhel6: 12345678-9abc-def0-1234-567890abcdef 
  test-rhel7: 12345678-9abc-def0-1234-567890abcdef 

# Windows Administrator password (base64 encoded)
windows_admin_password: cGFzc3dvcmQ=
